<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../static/css/jquery-ui.min.css">
<link rel="stylesheet" href="../static/css/style.css">
<title>新宝GG</title>
</head>
<body>
    <div>
        <form action="/LoginAuthAdminUser" method="post">
            <p>用户名: <input type="text" name="name" /></p>
            <p>密  码: <input type="text" name="password" /></p>
            <p>验证码: <input type="text" name="password" /> <img src="/static/image/verify.png" height="25px" width ="50"></p>
            <input type="submit" value="登录" />
        </form>
    </div>
</div>
</body>
</html>
